/*
0-600px:     phone
600-900px:   Tablet portrait
900-1200px:   tablet landacsape
1200-1800px:  normal styles apply
1800px + :  big desktop
*/
/*breakpoint argument choices
--phone
--tab-port
--tab-land
--big-desktop

order:  base + typograpgy + general layout + grid + page layout + components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit; }

html {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 30%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #97ad1b;
  color: #ffffff; }

.heading-tertiary {
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0rem 0rem 1rem 0rem;
  letter-spacing: 0.15rem; }
  @media only screen and (max-width: 75em) {
    .heading-tertiary {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading-tertiary {
      font-size: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 2.2rem; } }

.addpoint {
  background-color: #7b8d13;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 9999;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  border: none; }

.floating-chat {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: dimgray;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  transform: translateY(70px);
  transition: all 250ms ease-out;
  border-radius: 50%;
  padding: 0.6rem;
  opacity: 0;
  /*background: -moz-linear-gradient(-45deg, #7b8d13 0, #7b8d13 25%, #b5c947 50%, #97ad1b 75%, #97ad1b 100%);
  background: -webkit-linear-gradient(-45deg, #7b8d13 0, #7b8d13 25%, #b5c947 50%, #97ad1b 75%, #97ad1b 100%);*/
  background-color:white;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  @media only screen and (max-width: 75em) {
    .floating-chat {
      width: 4.5rem;
      height: 4.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .floating-chat {
      width: 5rem;
      height: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .floating-chat {
      width: 6rem;
      height: 6rem; } }
.floating-chat-icon {
    fill: #777777;
}
  .floating-chat-closeicon {
    fill: #ffffff;
    height: 1rem;
    width: 1rem; }
  .floating-chat.enter:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    opacity: 1; }
  .floating-chat.enter {
    transform: translateY(0);
    opacity: 1;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.14); }
  .floating-chat.expand {
    width: 45rem;
    max-height: 40rem;
    height: 50rem;
    border-radius: 5px;
    cursor: auto;
    opacity: 1;
    z-index: 999; }
  .floating-chat :focus {
    outline: 0;
    box-shadow: 0 0 3pt 2pt rgba(14, 200, 121, 0.3); }
  .floating-chat button {
    background: transparent;
    border: 0;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer; }
  .floating-chat .chat {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    transition: all 250ms ease-out;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .floating-chat .chat-btn {
      font-size: 0.9rem;
      color: white;
      border: 1px solid rgba(255, 255, 255, 0.452);
      background-color: #30b1d0;
      padding: 0.5rem 1rem;
      border-radius: 0%; }
    .floating-chat .chat-note {
      font-size: 0.9rem;
      color: #ffffff; }
    .floating-chat .chat__form {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 20px;
      margin-top: 0.2rem; }
      .floating-chat .chat__form label {
        font-weight: 500;
        margin-left: 0.2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s; }
        @media only screen and (min-width: 112.5em) {
          .floating-chat .chat__form label {
            font-size: 1rem; } }
        @media only screen and (max-width: 75em) {
          .floating-chat .chat__form label {
            font-size: 1.4rem; } }
        @media only screen and (max-width: 56.25em) {
          .floating-chat .chat__form label {
            font-size: 1.8rem; } }
        @media only screen and (max-width: 37.5em) {
          .floating-chat .chat__form label {
            font-size: 2.2rem; } }
      .floating-chat .chat__form input {
        font-weight: 300;
        display: block;
        width: 100%;
        border: 1px solid #dadada;
        height: 2rem;
        color: #777; }
        @media only screen and (min-width: 112.5em) {
          .floating-chat .chat__form input {
            height: 2rem; } }
        @media only screen and (max-width: 75em) {
          .floating-chat .chat__form input {
            height: 3.2rem; } }
        @media only screen and (max-width: 56.25em) {
          .floating-chat .chat__form input {
            height: 4rem; } }
        @media only screen and (max-width: 37.5em) {
          .floating-chat .chat__form input {
            height: 4.5rem; } }
      .floating-chat .chat__form select {
        font-weight: 300;
        display: block;
        width: 100%;
        border: 1px solid #dadada;
        height: 2rem;
        color: #777; }
        @media only screen and (min-width: 112.5em) {
          .floating-chat .chat__form select {
            height: 2rem; } }
        @media only screen and (max-width: 75em) {
          .floating-chat .chat__form select {
            height: 3.2rem; } }
        @media only screen and (max-width: 56.25em) {
          .floating-chat .chat__form select {
            height: 4rem; } }
        @media only screen and (max-width: 37.5em) {
          .floating-chat .chat__form select {
            height: 4.5rem; } }
    .floating-chat .chat.enter {
      opacity: 1;
      border-radius: 0;
      margin: 10px;
      width: auto;
      height: auto; }
    .floating-chat .chat .header {
      flex-shrink: 0;
      padding: 0.5rem;
      display: flex;
      background: #7b8d13; }
      .floating-chat .chat .header .title {
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0 5px; }
      .floating-chat .chat .header button {
        flex-shrink: 0; }
    .floating-chat .chat .messages {
      padding: 10px;
      margin: 0;
      list-style: none;
      overflow-y: scroll;
      overflow-x: hidden;
      flex-grow: 1;
      border-radius: 4px;
      background: transparent; }
      .floating-chat .chat .messages::-webkit-scrollbar {
        width: 5px; }
      .floating-chat .chat .messages::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: rgba(25, 147, 147, 0.1); }
      .floating-chat .chat .messages::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgba(25, 147, 147, 0.2); }
      .floating-chat .chat .messages hr {
        margin: 0.5rem 0rem; }
      .floating-chat .chat .messages li {
        position: relative;
        clear: both;
        display: inline-block;
        padding: 14px;
        margin: 0 0 20px 0;
        font: 12px/16px 'Noto Sans', sans-serif;
        border-radius: 10px;
        background-color: rgba(25, 147, 147, 0.2);
        word-wrap: break-word;
        max-width: 81%; }
        .floating-chat .chat .messages li:before {
          position: absolute;
          top: 0;
          width: 25px;
          height: 25px;
          border-radius: 25px;
          content: '';
          background-size: cover; }
        .floating-chat .chat .messages li:after {
          position: absolute;
          top: 10px;
          content: '';
          width: 0;
          height: 0;
          border-top: 10px solid rgba(25, 147, 147, 0.2); }
      .floating-chat .chat .messages li.other {
        animation: show-chat-odd 0.15s 1 ease-in;
        -moz-animation: show-chat-odd 0.15s 1 ease-in;
        -webkit-animation: show-chat-odd 0.15s 1 ease-in;
        float: right;
        margin-right: 45px;
        color: #0AD5C1; }
      .floating-chat .chat .messages li.other:before {
        right: -45px;
        background-image: url(https://github.com/Thatkookooguy.png); }
      .floating-chat .chat .messages li.other:after {
        border-right: 10px solid transparent;
        right: -10px; }
      .floating-chat .chat .messages li.self {
        animation: show-chat-even 0.15s 1 ease-in;
        -moz-animation: show-chat-even 0.15s 1 ease-in;
        -webkit-animation: show-chat-even 0.15s 1 ease-in;
        float: left;
        margin-left: 45px;
        color: #0EC879; }
      .floating-chat .chat .messages li.self:before {
        left: -45px;
        background-image: url(https://github.com/ortichon.png); }
      .floating-chat .chat .messages li.self:after {
        border-left: 10px solid transparent;
        left: -10px; }
    .floating-chat .chat .footer {
      flex-shrink: 0;
      display: flex;
      padding-top: 10px;
      max-height: 90px;
      background: transparent; }
      .floating-chat .chat .footer .text-box {
        border-radius: 3px;
        background: rgba(25, 147, 147, 0.2);
        min-height: 100%;
        width: 100%;
        margin-right: 5px;
        color: #0EC879;
        overflow-y: auto;
        padding: 2px 5px; }
        .floating-chat .chat .footer .text-box::-webkit-scrollbar {
          width: 5px; }
        .floating-chat .chat .footer .text-box::-webkit-scrollbar-track {
          border-radius: 5px;
          background-color: rgba(25, 147, 147, 0.1); }
        .floating-chat .chat .footer .text-box::-webkit-scrollbar-thumb {
          border-radius: 5px;
          background-color: rgba(25, 147, 147, 0.2); }

@keyframes show-chat-even {
  0% {
    margin-left: -480px; }
  100% {
    margin-left: 0; } }

@-moz-keyframes show-chat-even {
  0% {
    margin-left: -480px; }
  100% {
    margin-left: 0; } }

@-webkit-keyframes show-chat-even {
  0% {
    margin-left: -480px; }
  100% {
    margin-left: 0; } }

@keyframes show-chat-odd {
  0% {
    margin-right: -480px; }
  100% {
    margin-right: 0; } }

@-moz-keyframes show-chat-odd {
  0% {
    margin-right: -480px; }
  100% {
    margin-right: 0; } }

@-webkit-keyframes show-chat-odd {
  0% {
    margin-right: -480px; }
  100% {
    margin-right: 0; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8rem 1rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 0.9rem;
  background-color: #dfdfdf;
  border: none;
  cursor: pointer; }

.btn:hover {
  background-color: #7b8d13; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(22, 20, 20, 0.2); }

.btn--white {
  background-color: #ffffff;
  color: #777;
  border: 1px solid #646464; }
  .btn--white::after {
    background-color: #ffffff; }

.btn--green {
  background-color: #7b8d13;
  color: #ffffff; }
  .btn--green::after {
    background-color: #7b8d13; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #97ad1b;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #97ad1b;
  padding: 3px 15px;
  font-size: 1.1rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #97ad1b;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(22, 20, 20, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 2rem rgba(22, 20, 20, 0.15);
  transform: translateY(0); }

.form__group:not(:last-child) {
  margin-bottom: 0.8rem; }

.form__input {
  padding: .6rem 1.2rem;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #dadada;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(22, 20, 20, 0.1);
    border-bottom: 3px solid #97ad1b; }
  .form__input:focus:invalid {
    border-bottom: 3px solid orangered; }
  .form__input::-webkit-input-placeholder {
    color: #3f3f41; }

.form__label {
  font-weight: 500;
  margin-left: 0.2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }
  @media only screen and (min-width: 112.5em) {
    .form__label {
      font-size: 1.1rem; } }
  @media only screen and (max-width: 75em) {
    .form__label {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 56.25em) {
    .form__label {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 37.5em) {
    .form__label {
      font-size: 2.2rem; } }

.form__select {
  font-weight: 300;
  display: block;
  width: 100%;
  border: 1px solid #dadada;
  height: 2.5rem;
  color: #777; }
  @media only screen and (min-width: 112.5em) {
    .form__select {
      height: 2.8rem; } }
  @media only screen and (max-width: 75em) {
    .form__select {
      height: 3.2rem; } }
  @media only screen and (max-width: 56.25em) {
    .form__select {
      height: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .form__select {
      height: 4.5rem; } }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  padding: 0.5rem; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
  padding-left: 3.5rem; }

.form__radio-btn {
  height: 1.5rem;
  width: 1.5rem;
  border: 3px solid #7b8d13;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: 0; }
  .form__radio-btn::after {
    content: "";
    height: 0.6rem;
    width: 0.6rem;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7b8d13;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-btn::after {
  opacity: 1; }

.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.349);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s; }
  .modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; }
  .modal-window h1 {
    text-align: center;
    display: inline-block;
    position: relative;
    width: 100%;
    color: #7b8d13;
    font-weight: 700;
    letter-spacing: 0.1rem; }
  .modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em 2em 0.5em 2em;
    background: #ffffff; }
  .modal-window header {
    font-weight: bold; }
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px; }

.modal-close {
  color: #646464;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  font-weight: 500; }
  .modal-close:hover {
    color: black; }

.captcha__inputs {
  display: flex;
  flex-direction: row; }
  .captcha__inputs input {
    display: inline; }
  .captcha__inputs button {
    display: inline; }

.signin {
  display: flex;
  padding-top: 1.5rem;
  justify-content: center;
  align-items: center; }
  .signin span {
    padding: 0.5rem 1rem; }

.forgot__password {
  display: flex;
  padding-top: 1.5rem;
  justify-content: center;
  align-items: center; }

.righticons {
  z-index: 100;
  position: absolute;
  right: 1rem;
  top: 10rem;
  display: flex;
  flex-direction: column; }
  .righticons__tools-icon {
    padding: 0.5rem;
    height: 3.2rem;
    width: 3.2rem;
    fill: #777;
    background-color: #ffffff;
    border: 1px solid #dadada;
    margin-bottom: 0.4rem; }
.righticons__tools :hover {
    fill: #7b8d13;
    border: 2px solid #7b8d13;
}

.navigation {
  padding: 2rem;
  height: 100vh;
  z-index: 100;
  position: absolute;
  top: 0rem;
  width: 20vw; }
  @media only screen and (min-width: 112.5em) {
    .navigation {
      width: 20vw; } }
  @media only screen and (max-width: 75em) {
    .navigation {
      width: 32vw; } }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      width: 50vw; } }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      width: 60vw; } }
  .navigation__checkbox {
    display: none; }
  .navigation__login a {
    font-size: 1rem;
    color: #97ad1b;
    letter-spacing: 0.1rem;
    font-weight: bolder;
    padding: 0.8rem 1.5rem;
    float: right;
    text-decoration: none; }
    @media only screen and (max-width: 56.25em) {
      .navigation__login a {
        font-size: 1.9rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__login a {
        font-size: 1.8rem; } }
  .navigation__button {
    background-color: #ffffff;
    border: 1px solid #dadada;
    height: 2.6rem;
    width: 3rem;
    position: absolute;
    top: 0rem;
    right: -4rem;
    margin: 2rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(34, 35, 39, 0.3);
    text-align: center;
    cursor: pointer;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.007, 1); }
    @media only screen and (max-width: 37.5em) {
      .navigation__button {
        height: 5.6rem;
        width: 6rem;
        right: -7.5rem; } }

.navigation__checkbox:checked ~ .navigation__button {
    transform: translateX(-37rem);
}



@media only screen and (min-width: 112.5em) {
    .navigation__checkbox:checked ~ .navigation__button {
        transform: translateX(-28.5rem);
    }
}

@media only screen and (max-width: 75em) {
    .navigation__checkbox:checked ~ .navigation__button {
        transform: translateX(-43.5rem);
    }
}

@media only screen and (max-width: 56.25em) {
    .navigation__checkbox:checked ~ .navigation__button {
        transform: translateX(-43.5rem);
    }
}

@media only screen and (max-width: 37.5em) {
    .navigation__checkbox:checked ~ .navigation__button {
        transform: translateX(-43.5rem);
    }
}







  .navigation__tool {
    background-color: #ffffff;
    height: 100%;
    position: relative;
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.007, 1);
    border: 1px solid #dadada; }
    .navigation__tool-head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      background-color: #ffffff;
      padding: 0rem 0rem 0rem 0rem; }
      .navigation__tool-head-logo {
        padding: 1rem 0rem 0rem 0rem; }
        .navigation__tool-head-logo img {
          padding: 1rem 1rem 0rem 1rem; }
      .navigation__tool-head-version {
        font-size: 0.9rem;
        color: #97ad1b;
        letter-spacing: 0.2rem;
        padding: 0rem 1.5rem; }
        @media only screen and (max-width: 56.25em) {
          .navigation__tool-head-version {
            font-size: 1.9rem; } }
        @media only screen and (max-width: 37.5em) {
          .navigation__tool-head-version {
            font-size: 1.8rem; } }
      .navigation__tool-head-login {
        font-size: 0.9rem;
        color: #97ad1b;
        letter-spacing: 0.1rem;
        float: right;
        display: flex;
        align-content: flex-end; }
    .navigation__tool-footer {
      position: absolute;
      bottom: 0rem;
      background-color: #3d3d3d;
      color: white;
      width: 100%;
      font-size: 0.9rem;
      padding: 0.3rem 1rem;
      text-align: center;
      cursor: pointer; }
      @media only screen and (max-width: 37.5em) {
        .navigation__tool-footer {
          font-size: 1.9rem;
          padding: 0.5rem 1rem; } }
      .navigation__tool-footer a {
        color: white;
        text-decoration: none; }
      .navigation__tool-footer-icon {
        height: 1.2rem;
        width: 1.2rem;
        fill: white;
        margin-right: 0.2rem; }
        @media only screen and (max-width: 37.5em) {
          .navigation__tool-footer-icon {
            height: 2.2rem;
            width: 2.2rem; } }
  .navigation__checkbox:checked ~ .navigation__tool {
    transform: translateX(-40rem); }
    @media only screen and (min-width: 112.5em) {
      .navigation__checkbox:checked ~ .navigation__tool {
        transform: translateX(-40rem); } }
    @media only screen and (max-width: 75em) {
      .navigation__checkbox:checked ~ .navigation__tool {
        transform: translateX(-40rem); } }
    @media only screen and (max-width: 56.25em) {
      .navigation__checkbox:checked ~ .navigation__tool {
        transform: translateX(-40rem); } }
    @media only screen and (max-width: 37.5em) {
      .navigation__checkbox:checked ~ .navigation__tool {
        transform: translateX(-55rem); } }
 
  .navigation__icon {
    margin-top: 1.2rem;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .navigation__icon {
        margin-top: 0rem;
        margin-right: 1.6rem; } }
    .navigation__icon {
      width: 1.5rem;
      height: 2px;
      background-color: #97ad1b;
      display: inline-block;
      background-color: transparent; }
      @media only screen and (max-width: 37.5em) {
        .navigation__icon {
          width: 3.5rem;
          height: 2px;
          left: 1rem;
          margin-top: 1.5rem; } }
    .navigation__icon::before, .navigation__icon::after {
      width: 1.5rem;
      height: 2px;
      background-color: #97ad1b;
      display: inline-block; }
      @media only screen and (max-width: 37.5em) {
        .navigation__icon::before, .navigation__icon::after {
          width: 3.5rem;
          height: 2px;
          left: 2rem;
          margin-top: 1.6rem; } }
    .navigation__icon::before {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
      transform: rotate(-135deg); }
    .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
      transform: rotate(135deg); }
    .navigation__icon::before {
      top: 0; }
    .navigation__icon::after {
      top: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: #97ad1b; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: -0.5rem;
    transform: rotate(180deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0.5rem;
    transform: rotate(-180deg); }

.tabs {
  width: 100%;
  display: flex;
  position: relative;
  background-color: #7b8d13; }
  .tabs .tab {
    float: left;
    display: block; }
    .tabs .tab > input[type="radio"] {
      position: absolute;
      top: -9999px;
      left: -9999px; }
    .tabs .tab > label {
      display: flex;
      padding: 1rem 1.2rem;
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      color: #FFF;
      background: #7b8d13; }
      @media only screen and (max-width: 75em) {
        .tabs .tab > label {
          padding: 1rem 1.4rem; } }
      @media only screen and (max-width: 56.25em) {
        .tabs .tab > label {
          padding: 1.1rem 1.5rem; } }
    .tabs .tab-icon {
      height: 1.2rem;
      width: 1.2rem;
      fill: #ffffff; }
      @media only screen and (max-width: 75em) {
        .tabs .tab-icon {
          height: 1.6rem;
          width: 1.6rem; } }
      @media only screen and (max-width: 56.25em) {
        .tabs .tab-icon {
          height: 2.2rem;
          width: 2.2rem; } }
      @media only screen and (max-width: 37.5em) {
        .tabs .tab-icon {
          height: 2.2rem;
          width: 2.2rem; } }
  .tabs .content {
    z-index: 0;
    overflow: hidden;
    width: 100%;
    padding: 1.8rem;
    position: absolute;
    left: 0;
    background: #f0f0f0;
    color: #666666;
    opacity: 0;
    transition: opacity 400ms ease-out; }
  .tabs > .tab > [id^="tab"]:checked + label {
    border-bottom: 2px solid #ffffff;
    top: 0;
    background: #97ad1b; }
    .tabs > .tab > [id^="tab"]:checked + label svg {
      fill: #ffffff; }
  .tabs > .tab > [id^="tab"]:checked ~ [id^="tab-content"] {
    z-index: 1;
    opacity: 1;
    transition: opacity 400ms ease-out; }

#map_zoom_slider {
  display: none; }

html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0; }

#titlePane {
  width: 100%; }

.calcite .HomeButton .home {
  color: #777 !important;
  background-color: #ffffff !important;
  line-height: 2 !important;
  font-size: 1.6rem !important;
  margin-bottom: 1rem !important;
  height: 3.2rem !important;
  width: 3.2rem !important;
  border: 1px solid #dadada !important;
  box-shadow: none; }

.calcite .LocateButton .zoomLocateButton {
  height: 3.2rem !important;
  box-shadow: none;
  width: 3.2rem !important;
  color: #777 !important;
  background-color: #ffffff !important;
  line-height: 2 !important;
  font-size: 1.6rem !important;
  margin-bottom: 1rem !important;
  border: 1px solid #dadada !important; }

.calcite .HomeButton .home:hover {
  fill: #ffffff !important;
  border: 1px solid #ffffff !important; }

.calcite .LocateButton .zoomLocateButton:hover {
  fill: #ffffff !important;
  border: 1px solid #ffffff !important; }

.calcite .esriBasemapGalleryNode {
  width: 8rem !important; }

.calcite .esriBasemapGalleryNode .esriBasemapGalleryThumbnail {
  width: 7.5rem !important; }
